/*

http://www.google.com.br/design/spec/style/color.html#color-color-palette

main -> 500
lighter -> 300
darker -> 700

*/
#attraction-video-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */ }
  #attraction-video-wrapper video {
    width: 100%; }

#route-map-wrapper {
  width: 100%;
  padding-bottom: 50%; }

.travel-mode-option {
  display: none; }

.travel-mode-label {
  width: 100%;
  transition: 0.5s; }

.travel-mode-icon {
  width: 10%;
  padding: 0.5em;
  text-align: center;
  float: left;
  background-color: #dddddd;
  border-top-left-radius: 0.7em;
  border-bottom-left-radius: 0.7em;
  transition: inherit; }

.travel-mode-text {
  width: 90%;
  padding: 0.5em;
  float: left;
  background-color: #eeeeee;
  border-top-right-radius: 0.7em;
  border-bottom-right-radius: 0.7em;
  transition: inherit; }

.travel-mode-selected .travel-mode-icon {
  background-color: #00aa00; }

.travel-mode-selected .travel-mode-text {
  background-color: #00cc00; }

.travel-mode-disabled {
  color: #ffffff; }
  .travel-mode-disabled .travel-mode-icon {
    background-color: #cc0000; }
  .travel-mode-disabled .travel-mode-text {
    background-color: #ee0000; }

/*

http://www.google.com.br/design/spec/style/color.html#color-color-palette

main -> 500
lighter -> 300
darker -> 700

*/
.attraction-filter {
  background-color: #8BC34A; }

.remove-attraction-filter {
  background-color: #8BC34A;
  border-left: 1px solid #7CB342; }

.attraction-filter-button a {
  box-shadow: 0 8px 0 #689F38, 0 15px 20px rgba(0, 0, 0, 0.35); }

.attraction-filter-button span {
  background-color: #8BC34A; }

.attraction-qtip {
  border: 2px solid #8BC34A; }
  .attraction-qtip .qtip-close {
    background-color: #8BC34A; }

.attraction-qtip-arrows a {
  background-color: #8BC34A; }

.attraction-attraction-info-box {
  background-color: #8BC34A; }

.attraction-attraction-button {
  background-color: #689F38; }

.attraction-tag {
  background-color: #AED581; }

/*

http://www.google.com.br/design/spec/style/color.html#color-color-palette

main -> 500
lighter -> 300
darker -> 700

*/
#attractions-list-title {
  margin-bottom: 0; }

.chosen-filter {
  margin-right: 0.5em;
  padding: 0.3em 0.5em;
  color: #ffffff;
  font-size: 0.5em;
  border-radius: 0.2em; }

.remove-filter {
  margin-left: 0.25em;
  padding-left: 0.25em;
  font-size: 1.2em;
  cursor: pointer; }

.filter-buttons-box {
  margin-top: 1em;
  text-align: center; }

.filter-buttons-box-title {
  margin-top: 0;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 2px; }

.filter-button {
  width: 11em;
  margin: 0 0.7em;
  display: inline-block; }
  .filter-button a {
    width: 100%;
    text-align: center;
    display: block;
    color: #ffffff !important;
    border-radius: 0.5em;
    transition: box-shadow 0.1s ease-in-out; }
    .filter-button a:focus span, .filter-button a.chosen-sort-criterium span {
      transform: translate(0, 4px); }
  .filter-button span {
    width: 100%;
    padding: 0.5em 1em;
    display: inline-block;
    font-weight: bold;
    border-radius: 0.5em;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
    text-shadow: 0 -1px 1px rgba(175, 49, 95, 0.7);
    transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out; }
    .filter-button span .fa {
      margin-left: 0.7em; }

.sorters-box, .filters-box {
  padding-bottom: 1.7em;
  border-radius: 0.7em; }

#attraction-distance-filter-tooltip {
  font-size: 2em; }

#attraction-tag-filter-tooltip {
  /* XXX: Fixed width is needed for Slick plugin to render correctly */
  width: 10em;
  font-size: 1.5em; }

.qtip {
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 0.7em;
  line-height: normal;
  box-shadow: 2px 2px 2px 2px #666666; }

.qtip-close {
  text-align: center;
  color: #ffffff;
  font-size: 2em;
  border: 1px solid #ffffff; }

#qtip-tags-arrows {
  width: 70%;
  margin: 0.5em auto; }
  #qtip-tags-arrows a {
    color: #ffffff !important; }
    #qtip-tags-arrows a.slick-prev {
      float: left; }
    #qtip-tags-arrows a.slick-next {
      float: right; }

.tag-td {
  padding-left: 2em; }

#attractions-list {
  margin-top: 2em;
  text-align: center; }

#attractions-box {
  height: 28em; }

#attractions-table {
  width: 90%;
  margin: 0 auto; }
  #attractions-table td {
    width: 50%;
    padding-bottom: 1em; }

.attraction-info-box {
  width: 90%;
  height: 4.5em;
  margin: 0 auto;
  padding: 0.5em 0;
  border-radius: 0.5em; }

.attraction-button {
  width: 10%;
  height: 100%;
  margin: 0 5%;
  display: inline-block;
  vertical-align: top;
  font-size: 2.2em;
  color: #ffffff !important;
  border-radius: 0.3em;
  box-shadow: 0 3px 8px -4px #000000; }

.attraction-info {
  width: 60%;
  height: 100%;
  text-align: left;
  display: inline-block;
  vertical-align: top; }

.attraction-name {
  margin-bottom: 0.3em; }

.attraction-tags-box {
  font-size: 0.8em; }
  .attraction-tags-box span {
    margin-right: 0.2em;
    padding: 0.2em 0.5em;
    font-style: italic;
    border-radius: 0.2em; }

.attraction-distance-box {
  width: 20%;
  display: inline-block;
  vertical-align: top; }

.attraction-distance-icon img {
  width: 55%; }

/*

http://www.google.com.br/design/spec/style/color.html#color-color-palette

main -> 500
lighter -> 300
darker -> 700

*/
h1 {
  margin-top: 0.2em; }

h3 {
  margin-top: 0;
  text-shadow: 0 1px 1px #666666; }

a:hover, a:focus, a:active {
  text-decoration: none; }

.grid-wrapper {
  margin: 0.5em 0; }

#header {
  margin-top: 1em;
  margin-bottom: 0.5em; }

.fixed-bar {
  height: 100%;
  padding: 0;
  text-align: center;
  background-color: #000000;
  position: fixed;
  top: 0;
  z-index: 10; }

.fixed-bar-left {
  left: 0; }

.bar-container {
  height: 100%;
  padding: 0;
  position: relative; }

.fixed-bar-link-box {
  width: 100%;
  padding: 0;
  text-align: center; }

.fixed-bar-link {
  width: 100%;
  display: block; }

.bar-logo {
  margin-top: 1em; }
  .bar-logo img {
    width: 80%;
    border-radius: 0.7em; }

#our-logo {
  margin-bottom: 4em; }

#bar-home p {
  color: #ffffff;
  font-size: 4em; }

#language-flags {
  position: absolute;
  bottom: 0; }

.language-flag-icon {
  margin-bottom: 0.1em;
  text-align: center; }
  .language-flag-icon img {
    width: 75%; }

.fixed-bar-right {
  right: 0; }

.sponsor-area {
  width: 100%;
  padding: 0 0.5em; }

.sponsor-box {
  width: 100%;
  height: 22vh;
  margin-top: 2.5vh;
  padding: 0.5em;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0.7em; }
  .sponsor-box img {
    width: 100%; }

.menu-row {
  padding: 0;
  text-align: center; }

.menu-item-link-box {
  width: 10%;
  margin: 0.5% 1.25%;
  padding-bottom: 10%;
  display: inline-block;
  position: relative;
  border-radius: 0.7em;
  overflow: hidden;
  box-shadow: 0 6px 10px -5px #666666; }
  .menu-item-link-box.hotel-item {
    background-color: #3F51B5; }
  .menu-item-link-box.attractions-item {
    background-color: #8BC34A; }
  .menu-item-link-box.packages-item {
    background-color: #FF5722; }
  .menu-item-link-box.food-item {
    background-color: #FFC107; }
  .menu-item-link-box.shopping-item {
    background-color: #F44336; }
  .menu-item-link-box.hotel-feedback-item {
    background-color: #009688; }
  .menu-item-link-box.virtual-store-item {
    background-color: #E91E63; }
  .menu-item-link-box.olympics-item {
    background-color: #CDDC39; }
  .menu-item-link-box.about-city-item {
    background-color: #9C27B0; }

.menu-item-link {
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
  text-align: center;
  border-radius: inherit; }

.menu-content-box {
  height: 100%;
  width: 100%;
  display: table; }

.menu-content {
  height: 100%;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  color: #ffffff;
  font-weight: bold; }
  .menu-content p {
    margin-bottom: 0.3em; }
  .menu-content img {
    width: 50%; }

.menu-icon {
  font-size: 2.5em; }

.vjs-big-play-button {
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  margin: auto !important; }

.vjs-volume-control, .vjs-mute-control, .vjs-fullscreen-control {
  display: none; }

/*

http://www.google.com.br/design/spec/style/color.html#color-color-palette

main -> 500
lighter -> 300
darker -> 700

*/
#hotel-photos {
  text-align: center; }
  #hotel-photos a {
    color: #ffffff !important;
    background-color: #3F51B5; }
    #hotel-photos a.slick-prev {
      margin-right: 5em; }

.photo-slide {
  height: 20em;
  margin: 0.5em; }
  .photo-slide img {
    width: 100%;
    height: 100%; }

/*

http://www.google.com.br/design/spec/style/color.html#color-color-palette

main -> 500
lighter -> 300
darker -> 700

*/
.package-filter {
  background-color: #FF5722; }

.remove-package-filter {
  background-color: #FF5722;
  border-left: 1px solid #7CB342; }

.package-filter-button a {
  box-shadow: 0 8px 0 #E64A19, 0 15px 20px rgba(0, 0, 0, 0.35); }

.package-filter-button span {
  background-color: #FF5722; }

.package-qtip {
  border: 2px solid #FF5722; }
  .package-qtip .qtip-close {
    background-color: #FF5722; }

.package-qtip-arrows a {
  background-color: #FF5722; }

.attraction-package-info-box {
  background-color: #FF5722; }

.attraction-package-button {
  background-color: #E64A19; }

.package-tag {
  background-color: #FF8A65; }

.package-reservation-box {
  width: 20%;
  display: inline-block;
  vertical-align: top; }

.package-reservation {
  width: 90%;
  height: 100%;
  padding: 5%;
  display: inline-block;
  vertical-align: top;
  font-size: 0.8em;
  color: #ffffff !important;
  border-radius: 0.3em;
  background-color: #E64A19;
  box-shadow: 0 3px 8px -4px #000000; }
  .package-reservation .fa {
    font-size: 2em; }

/*

http://www.google.com.br/design/spec/style/color.html#color-color-palette

main -> 500
lighter -> 300
darker -> 700

*/
.restaurant-filter {
  background-color: #FFC107; }

.remove-restaurant-filter {
  background-color: #FFC107;
  border-left: 1px solid #7CB342; }

.restaurant-filter-button a {
  box-shadow: 0 8px 0 #FFA000, 0 15px 20px rgba(0, 0, 0, 0.35); }

.restaurant-filter-button span {
  background-color: #FFC107; }

.restaurant-qtip {
  border: 2px solid #FFC107; }
  .restaurant-qtip .qtip-close {
    background-color: #FFC107; }

.restaurant-qtip-arrows a {
  background-color: #FFC107; }

.attraction-restaurant-info-box {
  background-color: #FFC107; }

.attraction-restaurant-button {
  background-color: #FFA000; }

.restaurant-tag {
  background-color: #FFD54F; }

/*

http://www.google.com.br/design/spec/style/color.html#color-color-palette

main -> 500
lighter -> 300
darker -> 700

*/
.shopping-filter {
  background-color: #F44336; }

.remove-shopping-filter {
  background-color: #F44336;
  border-left: 1px solid #7CB342; }

.shopping-filter-button a {
  box-shadow: 0 8px 0 #D32F2F, 0 15px 20px rgba(0, 0, 0, 0.35); }

.shopping-filter-button span {
  background-color: #F44336; }

.shopping-qtip {
  border: 2px solid #F44336; }
  .shopping-qtip .qtip-close {
    background-color: #F44336; }

.shopping-qtip-arrows a {
  background-color: #F44336; }

.attraction-shopping-info-box {
  background-color: #F44336; }

.attraction-shopping-button {
  background-color: #D32F2F; }

.shopping-tag {
  background-color: #E57373; }

/*

http://www.google.com.br/design/spec/style/color.html#color-color-palette

main -> 500
lighter -> 300
darker -> 700

*/
#totem-home-map-canvas-box {
  height: 55vh; }

#totem-home-map-canvas {
  width: 100%;
  height: 100%; }

#real-time-info {
  margin-top: 1em; }

.home-info-box {
  margin-bottom: 1em;
  padding: 0 0 1em 0;
  font-size: 0.9em; }
  .home-info-box a {
    text-decoration: none; }

.home-info-box-title {
  margin-top: 0;
  margin-bottom: 0.2em;
  font-size: 1.4em;
  font-weight: bold; }

.home-info-box-label {
  font-weight: bold; }

.top-5-title {
  margin-top: 0;
  margin-bottom: 0.5em;
  text-align: center; }

.top-5-subtitle {
  font-size: 1.2em;
  font-style: italic; }

.top-5-link {
  width: 100%;
  margin: 0 auto 0.5em auto;
  padding: 1em;
  text-align: center;
  display: block;
  color: #ffffff !important;
  font-weight: bold;
  border-radius: 0.7em;
  box-shadow: 0 6px 10px -5px #666666; }

.attraction-link {
  background-color: #8BC34A; }

.package-link {
  background-color: #FF5722; }

.real-time-image {
  padding: 0; }
  .real-time-image img {
    width: 100%; }

#quotes {
  text-align: left;
  padding: 0.6em;
  border: 0.5em solid #8BC34A;
  border-radius: 0.7em; }

.positive-variation {
  color: #00aa00;
  font-weight: bold; }

.negative-variation {
  color: #ee0000;
  font-weight: bold; }

.quote-info {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-weight: bold; }

.quote-symbol {
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
  background-color: #000000;
  color: #ffffff; }

.quote-latest-update {
  margin-top: 0.2em;
  font-size: 0.8em; }
  .quote-latest-update span {
    font-weight: bold; }

#forecast {
  padding: 0.6em;
  border: 0.5em solid #ffcc00;
  border-radius: 0.7em; }

#forecast-title {
  padding: 0; }

#forecast-container {
  padding: 0; }

.forecast-subtitle {
  margin-bottom: 0.2em;
  font-size: 0.7em; }

.forecast-date {
  font-weight: bold; }

.forecast-icon img {
  width: 100%; }

.temperature-info {
  padding: 0; }

.temperature {
  font-size: 1.3em;
  font-weight: bold; }

.min-temperature {
  color: #63c8fb; }

.max-temperature {
  color: #ec0808; }
