$hotel-info-main-color: #3F51B5;

$attractions-main-color: #8BC34A;
$attractions-lighter-color: #AED581;
$attractions-darker-color: #689F38;

$packages-main-color: #FF5722;

$food-main-color: #FFC107;

$shopping-main-color: #F44336;

$car-main-color: #009688;

$virtual-store-main-color: #E91E63;

$olympics-main-color: #CDDC39;

$about-city-main-color: #9C27B0;