/*

http://www.google.com.br/design/spec/style/color.html#color-color-palette

main -> 500
lighter -> 300
darker -> 700

*/

$hotel-info-main-color: #3F51B5;

$attractions-main-color: #8BC34A;
$attractions-lighter-color: #AED581;
$attractions-darker-color: #689F38;

$packages-main-color: #FF5722;

$restaurant-main-color: #FFC107;
$restaurant-lighter-color: #FFD54F;
$restaurant-darker-color: #FFA000;

$shopping-main-color: #F44336;
$shopping-lighter-color: #E57373;
$shopping-darker-color: #D32F2F;

$car-main-color: #009688;

$virtual-store-main-color: #E91E63;

$olympics-main-color: #CDDC39;

$about-city-main-color: #9C27B0;