@import "_common";

#attraction-video-wrapper {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%; /* 16:9 aspect ratio */;

	video {
		width: 100%;
	}
}

#route-map-wrapper {
	width: 100%;
	padding-bottom: 50%;
}

.travel-mode-option {
	display: none;
}

.travel-mode-label {
	width: 100%;
	transition: 0.5s;
}

.travel-mode-icon {
	width: 10%;
	padding: 0.5em;
	text-align: center;
	float: left;
	background-color: #dddddd;
	border-top-left-radius: 0.7em;
	border-bottom-left-radius: 0.7em;
	transition: inherit;
}

.travel-mode-text {
	width: 90%;
	padding: 0.5em;
	float: left;
	background-color: #eeeeee;
	border-top-right-radius: 0.7em;
	border-bottom-right-radius: 0.7em;
	transition: inherit;
}

.travel-mode-selected {
	.travel-mode-icon {
		background-color: #00aa00;
	}

	.travel-mode-text {
		background-color: #00cc00;
	}
}

.travel-mode-disabled {
	color: #ffffff;

	.travel-mode-icon {
		background-color: #cc0000;
	}

	.travel-mode-text {
		background-color: #ee0000;
	}
}