#attractions-list-title {
	margin-bottom: 0;
}

.attraction-filter {
	margin-right: 0.5em;
	padding: 0.3em 0.5em;
	color: #ffffff;
	background-color: #8BC34A;
	font-size: 0.5em;
	border-radius: 0.2em;
}

.remove-distance-filter, .remove-tag-filter {
	margin-left: 0.25em;
	padding-left: 0.25em;
	font-size: 1.2em;
	cursor: pointer;
	background-color: #8BC34A;
	border-left: 1px solid #7CB342;
}

/*.remove-distance-filter {
	border-left: 1px solid #3b7dfd;
}

.remove-tag-filter {
	background-color: #ee8f00;
	border-left: 1px solid #df8704;
}

.attraction-distance-filter {
	background-color: #6599FF;
}

.attraction-tag-filter {
	background-color: #FF9900;
}*/

.filter-buttons-box {
	margin-top: 1em;
	text-align: center;
}

.filter-buttons-box-title {
	margin-top: 0;
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 2px;
}

.sorters-box, .filters-box {
	padding-bottom: 1.7em;
	border-radius: 0.7em;
}

.filter-button {
	width: 11em;
	margin: 0 0.7em;
    display: inline-block;
}

.filter-button a {
	width: 100%;
	text-align: center;
    display: block;
    color: #ffffff !important;
    border-radius: 0.5em;
    box-shadow: 0 8px 0 #689F38, 0 15px 20px rgba(0, 0, 0, .35);
    transition: box-shadow .1s ease-in-out;
}

.filter-button span {
	width: 100%;
    padding: 0.5em 1em;
    display: inline-block;
	font-weight: bold;
    border-radius: 0.5em;
    background-color: #8BC34A;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.filter-button span .fa {
	margin-left: 0.7em;
}

.filter-button a:focus span, .filter-button a.chosen-sort-criterium span {
    transform: translate(0, 4px);
}

/*.sort-criterium-button {
    box-shadow: 0 8px 0 #097054, 0 15px 20px rgba(0, 0, 0, .35);
}

.sort-criterium-button span {
    background-color: #198d6e;
}

.distance-filter-button {
    box-shadow: 0 8px 0 #3b7dfd, 0 15px 20px rgba(0, 0, 0, .35);
}

.distance-filter-button span {
    background-color: #6599FF;
}

.tags-filter-button {
    box-shadow: 0 8px 0 #df8704, 0 15px 20px rgba(0, 0, 0, .35);
}

.tags-filter-button span {
    background-color: #FF9900;
}*/

.qtip {
	background-color: #ffffff;
	border: 2px solid #000000;
	border-radius: 0.7em;
	line-height: normal;
	box-shadow: 2px 2px 2px 2px #666666;
	border: 2px solid #8BC34A;
}

/*.qtip-distance {
	border: 2px solid #8BC34A;
}

.qtip-tags {
	border: 2px solid #FF9900;
}*/

#attraction-distance-filter-tooltip {
	font-size: 2em;
}

#attraction-tag-filter-tooltip {
	/* XXX: Fixed width is needed for Slick plugin to render correctly */
	width: 10em;
	font-size: 1.5em;
}

#attraction-tags-arrows {
	width: 70%;
	margin: 0.5em auto;
}

#attraction-tags-arrows a {
	color: #ffffff !important;
	background-color: #8BC34A;
}

#attraction-tags-arrows a.slick-prev {
	float: left;
}

#attraction-tags-arrows a.slick-next {
	float: right;
}

.qtip-close {
	background-color: #000000;
	color: #ffffff;
	font-size: 1em;
}

.tag-td {
	padding-left: 2em;
}

#attractions-list {
	margin-top: 2em;
	text-align: center;
}

#attractions-box {
	height: 28em;
}

#attractions-table {
	width: 90%;
	margin: 0 auto;
}

#attractions-table td {
	width: 50%;
	padding-bottom: 1em;
}

.attraction-info-box {
	width: 90%;
	height: 4.5em;
	margin: 0 auto;
	padding: 0.5em 0;
	border-radius: 0.5em;
	background-color: #8BC34A;
}

.attraction-button {
	width: 10%;
	height: 100%;
	margin: 0 5%;
	display: inline-block;
	vertical-align: top;
	font-size: 2.2em;
	color: #ffffff !important;
	background-color: #689F38;
	border-radius: 0.3em;
	box-shadow: 0 3px 8px -4px #000000;
}

.attraction-info {
	width: 60%;
	height: 100%;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

.attraction-name {
	margin-bottom: 0.3em;
}

.attraction-tags-box {
	font-size: 0.8em;
}

.attraction-tag {
	margin-right: 0.2em;
	padding: 0.2em 0.5em;
	font-style: italic;
	background-color: #AED581;
	border-radius: 0.2em;
}

.attraction-distance-box {
	width: 20%;
	display: inline-block;
	vertical-align: top;
}

.attraction-distance-icon img {
	width: 55%;
}