@import "_common";

.attraction-filter {
	background-color: $attractions-main-color;
}

.remove-attraction-filter {
	background-color: $attractions-main-color;
	border-left: 1px solid #7CB342;
}

.attraction-filter-button {
	a {
	    box-shadow: 0 8px 0 $attractions-darker-color, 0 15px 20px rgba(0, 0, 0, .35);
	}

	span {
	    background-color: $attractions-main-color;
	}
}

.attraction-qtip {
	border: 2px solid $attractions-main-color;

	.qtip-close {
		background-color: $attractions-main-color;
	}
}

.attraction-qtip-arrows {
	a {
		background-color: $attractions-main-color;
	}
}

.attraction-attraction-info-box {
	background-color: $attractions-main-color;
}

.attraction-attraction-button {
	background-color: $attractions-darker-color;
}

.attraction-tag {
	background-color: $attractions-lighter-color;
}