@import "_common";

#header {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.fixed-bar {
	height: 100%;
	padding: 0;
	text-align: center;
	background-color: #000000;
	position: fixed;
	top: 0;
	z-index: 10;
}

.fixed-bar-left {
	left: 0;
}

.bar-container {
	height: 100%;
	padding: 0;
	position: relative;
}

.fixed-bar-link-box {
	width: 100%;
	padding: 0;
	text-align: center;
}

.fixed-bar-link {
	width: 100%;
	display: block;
}

.bar-logo {
	margin-top: 1em;

	img {
		width: 80%;
		border-radius: 0.7em;
	}
}

#our-logo {
	margin-bottom: 4em;
}

#bar-home {
	p {
		color: #ffffff;
		font-size: 4em;
	}
}

#language-flags {
	position: absolute;
	bottom: 0;
}

.language-flag-icon {
	margin-bottom: 0.1em;
	text-align: center;

	img {
		width: 75%;
	}
}

.fixed-bar-right {
	right: 0;
}

.sponsor-area {
	width: 100%;
	padding: 0 0.5em;
}

.sponsor-box {
	width: 100%;
	height: 22vh;
	margin-top: 2.5vh;
	padding: 0.5em;
	text-align: center;
	background-color: #ffffff;
	border-radius: 0.7em;

	img {
		width: 100%;
	}
}

.menu-row {
	text-align: center;
}

.menu-item-link-box {
	width: 9%;
	margin: 0.5% 1%;
	padding-bottom: 9%;
	display: inline-block;
	position: relative;
	border-radius: 0.7em;
	overflow: hidden;
	box-shadow: 0 6px 10px -5px #666666;

	&.hotel-item {
		background-color: $hotel-info-main-color;
	}

	&.attractions-item {
		background-color: $attractions-main-color;
	}

	&.packages-item {
		background-color: $packages-main-color;
	}

	&.food-item {
		background-color: $restaurant-main-color;
	}

	&.shopping-item {
		background-color: $shopping-main-color;
	}

	&.car-item {
		background-color: $car-main-color;
	}

	&.virtual-store-item {
		background-color: $virtual-store-main-color;
	}

	&.olympics-item {
		background-color: $olympics-main-color;
	}

	&.about-city-item {
		background-color: $about-city-main-color;
	}
}

.menu-item-link {
    height: 100%;
    width: 100%;
    position: absolute;
	display: block;
	text-align: center;
	border-radius: inherit;
}

.menu-content-box {
    height: 100%;
    width: 100%;
	display: table;
}

.menu-content {
    height: 100%;
    width: 100%;
	display: table-cell;
	vertical-align: middle;
	color: #ffffff;
	font-weight: bold;

	p {
		font-size: 0.9em;
		margin-bottom: 0.3em;
	}

	img {
		width: 50%;
	}
}

.menu-icon {
	font-size: 2.5em;
}
